In [1]:
import sys
import pandas as pd
from pathlib import Path

In [2]:
sys.path.append("../data_preprocessing")

In [3]:
from emt_data import get_emt_data
from weather_data import get_weather_data
from match_weather_data import match_weather_data
from add_non_emergency import add_non_emergency
from grid import find_cells

In [4]:
RAW_EMT_DATA_PATH = '../data/subset_emt_data.parquet'

In [5]:
if Path(RAW_EMT_DATA_PATH).exists():
    emt_data = pd.read_parquet(RAW_EMT_DATA_PATH)
else:
    emt_data = get_emt_data()

In [6]:
emt_data = emt_data[emt_data['year']==2003]
emt_data

,call_number,incident_number,date,year,month,day,hour,longitude,latitude
154,032370025,03067833,2003-08-25,2003,8,25,1,-122.421570,37.786617
251,032410103,03068916,2003-08-29,2003,8,29,10,-122.393920,37.786850
271,032350395,03067494,2003-08-23,2003,8,23,23,-122.421120,37.756900
387,032460061,03070253,2003-09-03,2003,9,3,7,-122.488780,37.761180
503,032340036,03066976,2003-08-22,2003,8,22,3,-122.427260,37.789740
...,...,...,...,...,...,...,...,...,...
5207256,033600007,03103173,2003-12-26,2003,12,26,0,-122.396530,37.778328
5207257,033600138,03103270,2003-12-26,2003,12,26,12,-122.412994,37.752570
5207258,033630326,03104175,2003-12-29,2003,12,29,17,-122.464240,37.765068
5207259,033630368,03104209,2003-12-29,2003,12,29,19,-122.420876,37.791496
5207260,033640385,03104513,2003-12-30,2003,12,30,21,-122.480670,37.720974

In [8]:
levels = 4
emt_data = find_cells(emt_data, levels)
emt_data

,call_number,incident_number,date,year,month,day,hour,longitude,latitude,cell
154,032370025,03067833,2003-08-25,2003,8,25,1,-122.421570,37.786617,169
251,032410103,03068916,2003-08-29,2003,8,29,10,-122.393920,37.786850,171
271,032350395,03067494,2003-08-23,2003,8,23,23,-122.421120,37.756900,105
387,032460061,03070253,2003-09-03,2003,9,3,7,-122.488780,37.761180,115
503,032340036,03066976,2003-08-22,2003,8,22,3,-122.427260,37.789740,184
...,...,...,...,...,...,...,...,...,...,...
5207256,033600007,03103173,2003-12-26,2003,12,26,0,-122.396530,37.778328,155
5207257,033600138,03103270,2003-12-26,2003,12,26,12,-122.412994,37.752570,105
5207258,033630326,03104175,2003-12-29,2003,12,29,17,-122.464240,37.765068,133
5207259,033630368,03104209,2003-12-29,2003,12,29,19,-122.420876,37.791496,185
5207260,033640385,03104513,2003-12-30,2003,12,30,21,-122.480670,37.720974,35

In [9]:
emt_data = add_non_emergency(emt_data)

/Users/west/Programming Stuff/PycharmProjects/EMSHeatMap/notebooks/../data_preprocessing/add_non_emergency.py:18: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  all_hours = pd.date_range(start=start_date, end=end_date, freq='H')

KeyError: "['fmax', 'fmin', 'prcp_in'] not in index"

In [ ]:
weather_data = get_weather_data()

In [ ]:
combined_df = match_weather_data(emt_data=emt_data, weather_data=weather_data)